<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Informations Génarales TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Informations Génarales</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body" style="display: none;">
                <dl class="dl-horizontal">
                    <dt>Client</dt><dd>{{ preDeclaration.contract.client.name }}</dd>
                    <dt>N° du contrat</dt><dd>{{ preDeclaration.contract.contractNumber }}</dd>
                    <dt>Date Sinistre</dt><dd>{{ preDeclaration.dateSinistre | date('Y-m-d H:i:s') }}</dd>
                    <dt>Date de pré-déclaration</dt><dd>{{ preDeclaration.createdAt | date('Y-m-d H:i:s') }}</dd>
                    <dt>Type de sinistre</dt><dd>{{ preDeclaration.typeSinistre.title }}</dd>
                    <dt>Nombre de véhicules</dt><dd>{{ preDeclaration.nbVehicule }}</dd>
                    <dt>Nombre de blessées</dt><dd>{{ preDeclaration.nbInjured }}</dd>
                    {% if preDeclaration.status == constant('App\\Entity\\PreDeclaration::STATUS_REJECTED') %}
                        <dt>Raison de rejet</dt><dd>{{ preDeclaration.description }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <!-- END Informations Génarales TABLE PORTLET-->
        <!-- BEGIN Circonstances TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Circonstances</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body" style="display: none;">
                <div class="tabbable-line boxless margin-bottom-20">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#localisation_tab" data-toggle="tab">Localisation</a>
                        </li>
                        {% if preDeclaration.circumstance.photos %}
                            {% for photo in preDeclaration.circumstance.photos %}
                                <li>
                                    <a href="#photo_{{ photo.id }}_tab" data-toggle="tab"> Photo {{ loop.index }} </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="localisation_tab">
                            <h4>An example implementing a preview pane.</h4>
                            <p> Obviously the most visual demo, the preview pane is accomplished entirely outside of Jcrop with a simple jQuery-flavored callback. This type of interface could be useful for creating a thumbnail or avatar.
                                The onChange event handler is used to update the view in the preview pane. </p>
                        </div>
                        {% if preDeclaration.circumstance.photos %}
                            {% for photo in preDeclaration.circumstance.photos %}
                                <div class="tab-pane" id="photo_{{ photo.id }}_tab">
                                    <h4>Photo {{ loop.index }}</h4>
                                    <div class="row">
                                        <div class="col-md-6 responsive-1024">
                                            <img src="{{ asset('img/circumstances/' ~ photo.path) }}" id="photo-attachment-circumstance-{{ loop.index }}" alt="Photo circonstance"/>
                                        </div>
                                        <div class="col-md-6 responsive-1024">
                                            <div id="preview-pane" class="preview-photo-attachment-circumstance-{{ loop.index }}">
                                                <div class="preview-container">
                                                    <img src="{{ asset('img/circumstances/' ~ photo.path) }}" class="jcrop-preview" alt="Preview" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Circonstances TABLE PORTLET-->
        <!-- BEGIN Vehicle Damage TABLE PORTLET-->
        {% if preDeclaration.vehiculeDamage %}
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Dommages au véhicule</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                    </div>
                </div>
                <div class="portlet-body" style="display: none;">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div style="background-image: url('{{ asset('img/vehicle_zones/0.png') }}'); background-repeat: no-repeat;">
                                {% for part in preDeclaration.vehiculeDamage.damagedParts %}
                                    <img {% if not loop.first %} class="vehicle-zone" {% endif %}
                                            src="{{ asset('img/vehicle_zones/' ~ part.code ~ '.png') }}"
                                    />
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- END Vehicle Damage TABLE PORTLET-->
        <!-- BEGIN Adversaire TABLE PORTLET-->
        {% if preDeclaration.tiers %}
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Adversaire</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                    </div>
                </div>
                <div class="portlet-body" style="display: none;">
                    <div class="tabbable-line boxless margin-bottom-20">
                        <ul class="nav nav-tabs">
                            {% if preDeclaration.tiers.attachments %}
                                {% for photo in preDeclaration.tiers.attachments %}
                                    <li><a href="#tiers_photo_{{ photo.id }}_tab" data-toggle="tab">{{ photo.type | replace({'_': ' '}) | upper }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            {% if preDeclaration.tiers.attachments %}
                                {% for photo in preDeclaration.tiers.attachments %}
                                    <div class="tab-pane{{ loop.first ? ' active' : '' }}" id="tiers_photo_{{ photo.id }}_tab">
                                        <h4>{{ photo.type | replace({'_': ' '}) | upper }}</h4>
                                        <div class="row">
                                            <div class="col-md-6 responsive-1024">
                                                <img id="photo-attachment-tiers-{{ loop.index }}" src="{{ asset('img/tiers/' ~ photo.path) }}" alt="document adversaire" />
                                            </div>
                                            <div class="col-md-6 responsive-1024">
                                                <div id="preview-pane" class="preview-photo-attachment-tiers-{{ loop.index }}">
                                                    <div class="preview-container">
                                                        <img src="{{ asset('img/tiers/' ~ photo.path) }}" class="jcrop-preview" alt="Preview" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- END Adversaire TABLE PORTLET-->
    </div>
</div>
<div class="row">
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
        {% if preDeclaration.status == constant('App\\Entity\\PreDeclaration::STATUS_IN_PROGRESS') %}
            <button type="button" class="btn red reject"data-id= "{{ preDeclaration.id }}" >Rejeter</button>
            <button type="button" class="btn green accept"data-id= "{{ preDeclaration.id }}" >Accepter</button>
        {% endif %}
    </div>
</div>