<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#informations_tab" data-toggle="tab">Informations Génarales</a>
            </li>
            <li>
                <a href="#circonstances_tab" data-toggle="tab">Circonstances</a>
            </li>

            <li>
                <a href="#dommages_tab" data-toggle="tab">Dommages au véhicule</a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="informations_tab">
                <h4>Ainformations_tab.</h4>
                <p> Obviously the most visual demo, the preview pane is accomplished entirely outside of Jcrop with a simple jQuery-flavored callback. This type of interface could be useful for creating a thumbnail or avatar.
                    The onChange event handler is used to update the view in the preview pane. </p>
            </div>

            <div class="tab-pane" id="circonstances_tab">
                <h4>circonstances_tab.</h4>
                <p> Obviously the most visual demo, the preview pane is accomplished entirely outside of Jcrop with a simple jQuery-flavored callback. This type of interface could be useful for creating a thumbnail or avatar.
                    The onChange event handler is used to update the view in the preview pane. </p>
            </div>

            <div class="tab-pane" id="dommages_tab">
                <h4>dommages_tab.</h4>
                <p> Obviously the most visual demo, the preview pane is accomplished entirely outside of Jcrop with a simple jQuery-flavored callback. This type of interface could be useful for creating a thumbnail or avatar.
                    The onChange event handler is used to update the view in the preview pane. </p>
            </div>

        </div>

        <!-- BEGIN Informations Génarales TABLE PORTLET-->
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user font-{{ app.session.get('insuranceType').themeColor }}"></i>
                    <span class="caption-subject font-{{ app.session.get('insuranceType').themeColor }} sbold uppercase">Informations Génarales</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body">
                <dl class="dl-horizontal">
                    <dt>Nom</dt><dd>{{ preDeclaration.contrat.client.firstName }}</dd>
                    <dt>Prenom</dt><dd>{{ preDeclaration.contrat.client.familyName }}</dd>
                    <dt>Adresse</dt><dd>{{ preDeclaration.circumstance.adress }}</dd>
                    <dt>Latitude</dt><dd>{{ preDeclaration.circumstance.latitude }}</dd>
                    <dt>Longitude</dt><dd>{{ preDeclaration.circumstance.longitude }}</dd>
                    <dt>Type de sinistre</dt><dd>{{ preDeclaration.typeSinistre.title }}</dd>
                    <dt>Nombre de véhicules</dt><dd>{{ preDeclaration.nbVehicule }}</dd>
                    <dt>Nombre de blessées</dt><dd>{{ preDeclaration.nbInjured }}</dd>
                    {% if preDeclaration.status == constant('App\\Entity\\PreDeclaration::STATUS_REJECTED') %}
                        <dt>Raison de rejet</dt><dd>{{ preDeclaration.description }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <!-- END Informations Génarales TABLE PORTLET-->
        <!-- BEGIN Circonstances TABLE PORTLET-->
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-camera font-{{ app.session.get('insuranceType').themeColor }}"></i>
                    <span class="caption-subject font-{{ app.session.get('insuranceType').themeColor }} sbold uppercase">Circonstances</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body" >
                <div class="tabbable-line boxless margin-bottom-20">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#localisation_tab" data-toggle="tab">Localisation</a>
                        </li>
                        {% if attachements %}
                            {% for photo in attachements %}
                                <li>
                                    <a href="#photo_{{ photo.id }}_tab" data-toggle="tab"> Photo {{ loop.index }} </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="localisation_tab">
                            <h4>An example implementing a preview pane.</h4>
                            <p> Obviously the most visual demo, the preview pane is accomplished entirely outside of Jcrop with a simple jQuery-flavored callback. This type of interface could be useful for creating a thumbnail or avatar.
                                The onChange event handler is used to update the view in the preview pane. </p>
                        </div>
                        {% if attachements %}
                            {% for photo in attachements %}
                                <div class="tab-pane" id="photo_{{ photo.id }}_tab">
                                    <h4>Photo {{ loop.index }}</h4>
                                    <div class="row">
                                        <div class="col-md-6 responsive-1024">
                                            <img src="{{ asset('img/tiers/' ~ photo.path) }}" id="photo-attachment-circumstance-{{ loop.index }}" alt="Photo circonstance"/>
                                        </div>
                                      {#  <div class="col-md-6 responsive-1024">
                                            <div id="preview-pane" class="preview-photo-attachment-circumstance-{{ loop.index }}">
                                                <div class="preview-container">
                                                    <img src="{{ asset('img/tiers/' ~ photo.path) }}" class="jcrop-preview" alt="Preview" />
                                                </div>
                                            </div>
                                        </div> #}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Circonstances TABLE PORTLET-->
        <!-- BEGIN Vehicle Damage TABLE PORTLET-->
        {% if preDeclaration.vehiculeDamage %}
            <div class="portlet light portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-car font-{{ app.session.get('insuranceType').themeColor }}"></i>
                        <span class="caption-subject font-{{ app.session.get('insuranceType').themeColor }} sbold uppercase">Dommages au véhicule</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                    </div>
                </div>
                <div class="portlet-body" >
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div style="background-image: url('{{ asset('img/vehicle_zones/0.png') }}'); background-repeat: no-repeat;">
                                {% for part in preDeclaration.vehiculeDamage.damagedParts %}
                                    <img {% if not loop.first %} class="vehicle-zone" {% endif %}
                                            src="{{ asset('img/vehicle_zones/' ~ part.code ~ '.png') }}"
                                    />
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- END Vehicle Damage TABLE PORTLET-->
        <!-- BEGIN Adversaire TABLE PORTLET-->

        <!-- END Adversaire TABLE PORTLET-->
    </div>
</div>
<div class="row">
    <div class="modal-footer">
        {% if app.request.isXmlHttpRequest() %}
            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
        {% else %}
            <a href="{{ path('pre_declarations_in_progress') }}" class="btn dark btn-dark pull-left">Retour</a>
        {% endif %}
        {% if preDeclaration.status == constant('App\\Entity\\PreDeclaration::STATUS_IN_PROGRESS') %}
            <button type="button" class="btn red reject"data-id= "{{ preDeclaration.id }}" >Rejeter</button>
            <button type="button" class="btn green accept"data-id= "{{ preDeclaration.id }}" >Accepter</button>
        {% endif %}
    </div>
</div>