{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{ asset('css/detail_devis_auto.css') }}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Devis</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <h4> <i class="fa fa-user font-{{ app.session.get('insuranceType').themeColor }}"></i>
                                {% if devisAuto is not null %}
                                    {{ devisAuto.civilite }}. {{ devisAuto.nom }} {{ devisAuto.prenom }}
                                {% else %}
                                    inconnu
                                {% endif %}
                            </h4>
                            <div class="col-md-4 general_details_devis" >
                                <p><span class="detail_label"> Email: </span>
                                    <span class="detail_info">
                                            <input type="text"  name="email" disabled value="{{ devisAuto.email }}">
                                        </span>
                                </p>
                                <p>
                                    <span class="detail_label">Téléphone : </span>
                                    <span class="detail_info">
                                        {% if devisAuto is not null %}
                                            <input type="text" name="tel" disabled value="{{ devisAuto.tel }}">
                                        {% else %}
                                            <input type="text" name="tel" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Prime HT: </span>
                                    <span class="detail_info">
                                        {% if devisAuto.primeHT is not null %}
                                            <input type="text" name="comment" disabled value="{{ devisAuto.primeHT }}">
                                        {% else %}
                                            <input type="text" name="comment" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Prime TTC: </span>
                                    <span class="detail_info">
                                        {% if devisAuto.primeTTC is not null %}
                                            <input type="text" name="comment" disabled value="{{ devisAuto.primeTTC }}">
                                        {% else %}
                                            <input type="text" name="comment" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                            </div>

                            <div class="col-md-4 general_details_devis">
                                <p>
                                    <span class="detail_label">Marque : </span>
                                    <span class="detail_info">
                                        {% if devisAuto.marque is not null %}
                                            <input type="text" class="police" name="marque" disabled value="{{ devisAuto.marque.nom }}">
                                        {% else %}
                                            <input type="text" class="police" name="nom" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>

                                <p>
                                    <span class="detail_label">Pack : </span>
                                    <span class="detail_info">
                                        {% if devisAuto.pack is not null %}
                                            <input type="text" class="police" name="nom" disabled value="{{ devisAuto.pack.name }}">
                                        {% else %}
                                            <input type="text" class="police" name="nom" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Puissance : </span>
                                    <span class="detail_info">
                                        {% if devisAuto.puissance is not null %}
                                            <input type="text" class="police" name="nom" disabled value="{{ devisAuto.puissance }}">
                                        {% else %}
                                            <input type="text" class="police" name="nom" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Combustion : </span>
                                    <span class="detail_info">
                                        {% if devisAuto.combustion is not null %}
                                            <input type="text" class="combustion" name="combustion" disabled value="{{ devisAuto.combustion }}">
                                        {% else %}
                                            <input type="text" class="combustion" name="combustion" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>


                            </div>

                            <!-- -->

                            <div class="col-md-4 general_details_devis" >


                                <p>
                                    <span class="detail_label">Valeur Neuve : </span>
                                    <span class="detail_info">
                                        {% if devisAuto.vn is not null %}
                                            <input type="text" class="vn" name="vn" disabled value="{{ devisAuto.vn }}">
                                        {% else %}
                                            <input type="text" class="vn" name="vn" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Valeur Vénale  : </span>
                                    <span class="detail_info">
                                        {% if devisAuto.vv is not null %}
                                            <input type="text" class="vv" name="vv" disabled value="{{ devisAuto.vv }}">
                                        {% else %}
                                            <input type="text" class="vv" name="vv" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Valeur des glaces : </span>
                                    <span class="detail_info">
                                        {% if devisAuto.vg is not null %}
                                            <input type="text" class="vg" name="vg" disabled value="{{ devisAuto.vg }}">
                                        {% else %}
                                            <input type="text" class="vg" name="vg" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>

                                <p>
                                    <span class="detail_label">Date mise en circulation : </span>
                                    <span class="detail_info">
                                        {% if devisAuto.vg is not null %}
                                            <input type="text" name="mec" disabled value="{{ devisAuto.dateMec | date('Y-m-d H:i:s') }}">
                                        {% else %}
                                            <input type="text"  name="mec" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>

                            </div>
                            <!-- -->
                        </div>

                        <div class="row">
                          <div class="garantie top">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">GARANTIE</span>
                            </div>
                          </div>

                            {% for garantie in garanties %}
                            <div class="col-md-4">
                                <div class="cart">
                                    <div class="header">{{ garantie.garantie }}</div>
                                    <div class="body"></div>
                                </div>

                            </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}
