{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{ asset('css/detail_devis_auto.css') }}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Devis</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6 general_details_devis" >
                                <p>
                                    <span class="detail_label">Nom : </span>
                                    <span class="detail_info">
                                        {% if devisHabitation.nom is not null %}
                                            <input type="text" class="police" name="marque" disabled value="{{ devisHabitation.nom }}">
                                        {% else %}
                                            <input type="text" class="police" name="nom" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Prenom : </span>
                                    <span class="detail_info">
                                        {% if devisHabitation.prenom is not null %}
                                            <input type="text" class="police" name="nom" disabled value="{{ devisHabitation.prenom }}">
                                        {% else %}
                                            <input type="text" class="police" name="nom" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Civilité : </span>
                                    <span class="detail_info">
                                        {% if devisHabitation.civilite is not null %}
                                            <input type="text" class="police" name="nom" disabled value="{{ devisHabitation.civilite }}">
                                        {% else %}
                                            <input type="text" class="police" name="nom" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">téléphone : </span>
                                    <span class="detail_info">
                                        {% if devisHabitation.tel is not null %}
                                            <input type="text" class="combustion" name="combustion" disabled value="{{ devisHabitation.tel }}">
                                        {% else %}
                                            <input type="text" class="combustion" name="combustion" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>


                            </div>

                            <!-- -->

                            <div class="col-md-6 general_details_devis" >

                                <p>
                                    <span class="detail_label">Email: </span>
                                    <span class="detail_info">
                                        {% if devisHabitation.email is not null %}
                                            <input type="text" class="vn" name="vn" disabled value="{{ devisHabitation.email }}">
                                        {% else %}
                                            <input type="text" class="vn" name="vn" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Contenu  : </span>
                                    <span class="detail_info">
                                        {% if devisHabitation.contenu is not null %}
                                            <input type="text" class="vv" name="vv" disabled value="{{ devisHabitation.contenu }}">
                                        {% else %}
                                            <input type="text" class="vv" name="vv" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>
                                <p>
                                    <span class="detail_label">Batiment : </span>
                                    <span class="detail_info">
                                        {% if devisHabitation.batiment is not null %}
                                            <input type="text" class="vg" name="vg" disabled value="{{ devisHabitation.batiment }}">
                                        {% else %}
                                            <input type="text" class="vg" name="vg" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>

                                <p>
                                    <span class="detail_label">Setuation risque : </span>
                                    <span class="detail_info">
                                        {% if devisHabitation.situationRisque is not null %}
                                            <input type="text" class="vg" name="vg" disabled value="{{ devisHabitation.situationRisque }}">
                                        {% else %}
                                            <input type="text" class="vg" name="vg" disabled value="">
                                        {% endif %}
                                     </span>
                                </p>

                            </div>
                            <!-- -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}
