{{ form_start(form, {'attr': {'class': 'form-horizontal ', 'role':'form'}}) }}

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.title) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4">
        {{ form_label(form._icn) }}
    </div>
    <div class="col-md-4">
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="input-group input-large">
                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                    <i class="fa fa-file-image-o fileinput-exists"></i>&nbsp;
                    <span class="fileinput-filename"> </span>
                </div>
                <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new"> Choisir Icône </span>
                                                                <span class="fileinput-exists"> Changer </span>
                    {{ form_widget(form._icn,{'attr':{'class':''}}) }}
                                        </span>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-4">
        {{ form_label(form._img) }}
    </div>
    <div class="col-md-4">
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="input-group input-large">
                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                    <i class="fa fa-file-image-o fileinput-exists"></i>&nbsp;
                    <span class="fileinput-filename"> </span>
                </div>
                <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new"> Choisir Image </span>
                                                                <span class="fileinput-exists"> Changer </span>
                    {{ form_widget(form._img,{'attr':{'value':'dddd'}}) }}
                                        </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn green SaveProductEdit">Modifier</button>
</div>

{{ form_end(form) }}