{{ form_start(form, {'attr': {'class': 'form-horizontal ', 'role':'form'}}) }}
    <div class="form-group">
        <div class="col-md-4 ">{{ form_label(form.title) }}</div>
        <div class="col-md-8 ">{{ form_widget(form.title, {'attr': {'class': 'form-control'}} ) }}</div>
    </div>
    <div class="form-group">
        <div class="col-md-4 ">{{ form_label(form.title_ar) }}</div>
        <div class="col-md-8 ">{{ form_widget(form.title_ar, {'attr': {'class': 'form-control'}}) }}</div>
    </div>
    <div class="form-group">
        <div class="col-md-4">{{ form_label(form.content) }}</div>
        <div class="col-md-8">
            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Ajouter une description'}} ) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">{{ form_label(form.content_ar) }}</div>
        <div class="col-md-8">
            {{ form_widget(form.content_ar, {'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'أضف وصفا'}} ) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">{{ form_label(form.nosGaranties) }}</div>
        <div class="col-md-8">
            {{ form_widget(form.nosGaranties, {'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Nos Garanties'}} ) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">{{ form_label(form.nosGaranties_ar) }}</div>
        <div class="col-md-8">
            {{ form_widget(form.nosGaranties_ar, {'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'ضماناتنا'}} ) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">{{ form_label(form.nosPlus) }}</div>
        <div class="col-md-8">
            {{ form_widget(form.nosPlus, {'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Nos Plus'}} ) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">{{ form_label(form.nosPlus_ar) }}</div>
        <div class="col-md-8">
            {{ form_widget(form.nosPlus_ar, {'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'إضافاتنا'}} ) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">{{ form_label(form._icn) }}</div>
        <div class="col-md-4">
            <div class="col-md-9">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                    <div>
                        <span class="btn red btn-outline btn-file">
                            <span class="fileinput-new"> Choisir icône </span>
                            <span class="fileinput-exists"> Changer </span>
                            {{ form_widget(form._icn) }}
                        </span>
                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Supprimer </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">{{ form_label(form._img) }}</div>
        <div class="col-md-4">
            <div class="col-md-9">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                    <div>
                        <span class="btn red btn-outline btn-file">
                            <span class="fileinput-new"> Choisir image </span>
                            <span class="fileinput-exists"> Changer </span>
                            {{ form_widget(form._img) }}
                        </span>
                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Supprimer </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn green SaveProductEdit">Enregistrer</button>
    </div>
{{ form_end(form) }}