{{ form_start(form, {'attr': {'class': 'form-horizontal ', 'role':'form'}}) }}

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.title) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Ajouter un titre'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.title_ar) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.title_ar, {'attr': {'class': 'form-control', 'placeholder': 'Ajouter un titre en arabe'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4">
        {{ form_label(form._icn) }}
    </div>
    <div class="col-md-4">
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="input-group input-large">
                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                    <span class="fileinput-filename"> </span>
                </div>
                <span class="input-group-addon btn default btn-file">
                    <span class="fileinput-new"> Choisir Image </span>
                    <span class="fileinput-exists"> Changer </span>
                    {{ form_widget(form._icn, {'attr': {'placeholder': 'Ajouter une icône'}}) }}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn green">Enregistrer</button>
</div>

{{ form_end(form) }}