{{ form_start(form, {'attr': {'class': 'form-horizontal AlertForm', 'role':'form'}}) }}

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.title) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.title_ar) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.title_ar, {'attr': {'class': 'form-control'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.subTitle) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.subTitle, {'attr': {'class': 'form-control'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.subTitle_ar) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.subTitle_ar, {'attr': {'class': 'form-control'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.description) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4">
        {{ form_label(form._img) }}
    </div>

    <div class="col-md-4">
        <div class="col-md-9">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"> </div>
                <div>
                   <span class="btn red btn-outline btn-file">
                      <span class="fileinput-new"> Choisir image </span>
                      <span class="fileinput-exists"> Changer </span>
                          {{ form_widget(form._img) }}
                      </span>
                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Supprimer </a>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.description_ar) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.description_ar, {'attr': {'class': 'form-control'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.date_creation) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.date_creation, {'attr': {'class': 'form-control creation datetimepicker'}} ) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 ">
        {{ form_label(form.date_expiration) }}
    </div>
    <div class="col-md-8 ">
        {{ form_widget(form.date_expiration, {'attr': {'class': 'form-control expiration datetimepicker'}} ) }}
    </div>
</div>



<div class="modal-footer">
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn green SaveAlert">Enregistrer</button>
</div>

{{ form_end(form) }}