<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="index.html" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Dashboard 1</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="dashboard_2.html" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Dashboard 2</span>
                            <span class="badge badge-success">1</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="dashboard_3.html" class="nav-link ">
                            <i class="icon-graph"></i>
                            <span class="title">Dashboard 3</span>
                            <span class="badge badge-danger">5</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% if is_granted('ROLE_CONTENT_MANAGEMENT') %}
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">Gestion Contenu</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu contentScrollS">
                        <li class="nav-item ">
                            <a href="{{ path('content_types_about') }}" class="nav-link">
                                <span class="title">Qui sommes nous</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="{{ path('content_types_list_slider') }}" class="nav-link">
                                <span class="title">Sliders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('devis_list_satisfaction') }}" class="nav-link">
                            <span class="title">Raison</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="{{ path('content_types_list_produit') }}" class="nav-link ">
                                <span class="title">Produits</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="{{ path('list_mode') }}" class="nav-link ">
                                <span class="title">Modes de réparation</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <span class="title">Sinistre</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{ path('content_types_types_sinistres') }}" class="nav-link">Types</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('photos_sinistres') }}" class="nav-link">Photos</a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="{{ path('content_types_list_circonstanceSinistre') }}" class="nav-link ">
                                <span class="title">Circonstances sinistre</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_list_ville') }}" class="nav-link ">
                                <span class="title">Ville réparation</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_marque_vehicule') }}" class="nav-link ">
                                <span class="title">Marque véhicule</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_modele_vehicule') }}" class="nav-link ">
                                <span class="title">Modèle véhicule</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_type_accident') }}" class="nav-link ">
                                <span class="title">Types accident</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <span class="title">Localisation</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{ path('content_types_garage') }}" class="nav-link">Garages</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('content_types_expert') }}" class="nav-link">Experts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('content_types_agences') }}" class="nav-link">Agences</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_list_emergency') }}" class="nav-link ">
                                <span class="title">Numéros d'urgences</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_societaire') }}" class="nav-link ">
                                <span class="title">sociétaires</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_packs') }}" class="nav-link ">
                                <span class="title">Packs</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_mrh_categories') }}" class="nav-link ">
                                <span class="title">Catégories MRH</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_mrh_proprietes') }}" class="nav-link ">
                                <span class="title">Propriété MRH</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_batiment') }}" class="nav-link ">
                                <span class="title">Batiments MRH</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_types_produit_contrat') }}" class="nav-link ">
                                <span class="title">Produit contrat</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ path('content_types_devices') }}" class="nav-link ">
                                <span class="title">Device</span>
                            </a>
                        </li>

                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_PRE_DECLARATION') %}
                <li class="nav-item">
                    <a href="{{ path('pre_declarations_in_progress') }}" class="nav-link">
                        <i class="icon-book-open"></i>
                        <span class="title">Pré-déclaration</span>
                        <span class="arrow"></span>
                    </a>
                    {#  <ul class="sub-menu">
                         <li class="nav-item">
                             <a href="{{ path('pre_declarations_in_progress') }}" class="nav-link">
                                 <i class="icon-clock"></i>
                                 <span class="title">En cours</span>
                             </a>
                         </li>
                         <li class="nav-item">
                             <a href="{{ path('pre_declarations_accepted') }}" class="nav-link">
                                 <i class="icon-check"></i>
                                 <span class="title">Acceptées</span>
                             </a>
                         </li>
                        <li class="nav-item">
                             <a href="{{ path('pre_declarations_rejected') }}" class="nav-link">
                                 <i class="icon-ban"></i>
                                 <span class="title">Rejetées</span>
                             </a>
                         </li>
                     </ul>#}
                </li>
            {% endif %}
            {% if is_granted('ROLE_ASSISTANCE') %}
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-docs"></i>
                        <span class="title">Demandes d'assistance</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="{{ path('assistance_in_progress') }}" class="nav-link">
                                <i class="icon-clock"></i>
                                <span class="title">En cours</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('assistance_handled') }}" class="nav-link">
                                <i class="icon-check"></i>
                                <span class="title">Traitées</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_DEVIS') %}
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-notebook"></i>
                        <span class="title">Devis</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="{{path('devis_auto') }}" class="nav-link ">
                                <span class="title">Devis Auto</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('devis_mrh') }}" class="nav-link ">
                                <span class="title">Devis MRH</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('devis_accepted') }}" class="nav-link">
                               <span class="title">Satisfaction</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ALERTS') %}
                <li class="nav-item">
                    <a href="{{ path('alerts_list') }}" class="nav-link nav-toggle">
                        <i class="icon-feed"></i>
                        <span class="title">Alertes</span>
                        <span class="arrow"></span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMINISTRATION') %}
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-user"></i>
                        <span class="title">Administration</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        {% if is_granted('ROLE_USERS_MANAGEMENT') %}
                            <li class="nav-item">
                                <a href="{{ path('administration_list_user') }}" class="nav-link ">
                                    <span class="title">Gestion des utilisateurs</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_GROUPS_MANAGEMENT') %}
                            <li class="nav-item">
                                <a href="{{ path('administration_list_group') }}" class="nav-link ">
                                    <span class="title">Gestion des groupes</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ROLES_MANAGEMENT') %}
                            <li class="nav-item">
                                <a href="{{ path('administration_list_role') }}" class="nav-link ">
                                    <span class="title">Gestion des rôles</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-folder"></i>#}
                    {#<span class="title">Multi Level Menu</span>#}
                    {#<span class="arrow "></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="javascript:;" class="nav-link nav-toggle">#}
                            {#<i class="icon-settings"></i> Item 1#}
                            {#<span class="arrow"></span>#}
                        {#</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li class="nav-item">#}
                                {#<a href="?p=dashboard-2" target="_blank" class="nav-link">#}
                                    {#<i class="icon-user"></i> Arrow Toggle#}
                                    {#<span class="arrow nav-toggle"></span>#}
                                {#</a>#}
                                {#<ul class="sub-menu">#}
                                    {#<li class="nav-item">#}
                                        {#<a href="#" class="nav-link">#}
                                            {#<i class="icon-power"></i> Sample Link 1</a>#}
                                    {#</li>#}
                                    {#<li class="nav-item">#}
                                        {#<a href="#" class="nav-link">#}
                                            {#<i class="icon-paper-plane"></i> Sample Link 1</a>#}
                                    {#</li>#}
                                    {#<li class="nav-item">#}
                                        {#<a href="#" class="nav-link">#}
                                            {#<i class="icon-star"></i> Sample Link 1</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</li>#}
                            {#<li class="nav-item">#}
                                {#<a href="#" class="nav-link">#}
                                    {#<i class="icon-camera"></i> Sample Link 1</a>#}
                            {#</li>#}
                            {#<li class="nav-item">#}
                                {#<a href="#" class="nav-link">#}
                                    {#<i class="icon-link"></i> Sample Link 2</a>#}
                            {#</li>#}
                            {#<li class="nav-item">#}
                                {#<a href="#" class="nav-link">#}
                                    {#<i class="icon-pointer"></i> Sample Link 3</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="?p=dashboard-2" target="_blank" class="nav-link">#}
                            {#<i class="icon-globe"></i> Arrow Toggle#}
                            {#<span class="arrow nav-toggle"></span>#}
                        {#</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li class="nav-item">#}
                                {#<a href="#" class="nav-link">#}
                                    {#<i class="icon-tag"></i> Sample Link 1</a>#}
                            {#</li>#}
                            {#<li class="nav-item">#}
                                {#<a href="#" class="nav-link">#}
                                    {#<i class="icon-pencil"></i> Sample Link 1</a>#}
                            {#</li>#}
                            {#<li class="nav-item">#}
                                {#<a href="#" class="nav-link">#}
                                    {#<i class="icon-graph"></i> Sample Link 1</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="#" class="nav-link">#}
                            {#<i class="icon-bar-chart"></i> Item 3 </a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}

            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-briefcase"></i>#}
                    {#<span class="title">Tables</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="javascript:;" class="nav-link nav-toggle">#}
                            {#<span class="title">Static Tables</span>#}
                            {#<span class="arrow"></span>#}
                        {#</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_static_basic.html" class="nav-link "> Basic Tables </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_static_responsive.html" class="nav-link "> Responsive Tables </a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="javascript:;" class="nav-link nav-toggle">#}
                            {#<span class="title">Datatables</span>#}
                            {#<span class="arrow"></span>#}
                        {#</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_managed.html" class="nav-link "> Managed Datatables </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_buttons.html" class="nav-link "> Buttons Extension </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_colreorder.html" class="nav-link "> Colreorder Extension </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_rowreorder.html" class="nav-link "> Rowreorder Extension </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_scroller.html" class="nav-link "> Scroller Extension </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_fixedheader.html" class="nav-link "> FixedHeader Extension </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_responsive.html" class="nav-link "> Responsive Extension </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_editable.html" class="nav-link "> Editable Datatables </a>#}
                            {#</li>#}
                            {#<li class="nav-item ">#}
                                {#<a href="table_datatables_ajax.html" class="nav-link "> Ajax Datatables </a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="?p=" class="nav-link nav-toggle">#}
                    {#<i class="icon-wallet"></i>#}
                    {#<span class="title">Portlets</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="portlet_boxed.html" class="nav-link ">#}
                            {#<span class="title">Boxed Portlets</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="portlet_light.html" class="nav-link ">#}
                            {#<span class="title">Light Portlets</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="portlet_solid.html" class="nav-link ">#}
                            {#<span class="title">Solid Portlets</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="portlet_ajax.html" class="nav-link ">#}
                            {#<span class="title">Ajax Portlets</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="portlet_draggable.html" class="nav-link ">#}
                            {#<span class="title">Draggable Portlets</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-bar-chart"></i>#}
                    {#<span class="title">Charts</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="charts_amcharts.html" class="nav-link ">#}
                            {#<span class="title">amChart</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="charts_flotcharts.html" class="nav-link ">#}
                            {#<span class="title">Flotchart</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="charts_flowchart.html" class="nav-link ">#}
                            {#<span class="title">Flowchart</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-pointer"></i>#}
                    {#<span class="title">Maps</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="maps_google.html" class="nav-link ">#}
                            {#<span class="title">Google Maps</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="maps_vector.html" class="nav-link ">#}
                            {#<span class="title">Vector Maps</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item  active open">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-layers"></i>#}
                    {#<span class="title">Page Layouts</span>#}
                    {#<span class="selected"></span>#}
                    {#<span class="arrow open"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="layout_language_bar.html" class="nav-link ">#}
                            {#<span class="title">Header Language Bar</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="layout_footer_fixed.html" class="nav-link ">#}
                            {#<span class="title">Fixed Footer</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="layout_boxed_page.html" class="nav-link ">#}
                            {#<span class="title">Boxed Page</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item  active open">#}
                        {#<a href="layout_blank_page.html" class="nav-link ">#}
                            {#<span class="title">Blank Page</span>#}
                            {#<span class="selected"></span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class=" icon-wrench"></i>#}
                    {#<span class="title">Custom Layouts</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="layout_disabled_menu.html" class="nav-link ">#}
                            {#<span class="title">Disabled Menu Links</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="layout_full_height_portlet.html" class="nav-link ">#}
                            {#<span class="title">Full Height Portlet</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="layout_full_height_content.html" class="nav-link ">#}
                            {#<span class="title">Full Height Content</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-basket"></i>#}
                    {#<span class="title">eCommerce</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="ecommerce_index.html" class="nav-link ">#}
                            {#<i class="icon-home"></i>#}
                            {#<span class="title">Dashboard</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="ecommerce_orders.html" class="nav-link ">#}
                            {#<i class="icon-basket"></i>#}
                            {#<span class="title">Orders</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="ecommerce_orders_view.html" class="nav-link ">#}
                            {#<i class="icon-tag"></i>#}
                            {#<span class="title">Order View</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="ecommerce_products.html" class="nav-link ">#}
                            {#<i class="icon-graph"></i>#}
                            {#<span class="title">Products</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="ecommerce_products_edit.html" class="nav-link ">#}
                            {#<i class="icon-graph"></i>#}
                            {#<span class="title">Product Edit</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-user"></i>#}
                    {#<span class="title">User</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_profile_1.html" class="nav-link ">#}
                            {#<span class="title">Profile 1</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_profile_1_account.html" class="nav-link ">#}
                            {#<span class="title">Profile 1 Account</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_profile_1_help.html" class="nav-link ">#}
                            {#<span class="title">Profile 1 Help</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_profile_2.html" class="nav-link ">#}
                            {#<span class="title">Profile 2</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_login_1.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Login Page 1</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_login_2.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Login Page 2</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_login_3.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Login Page 3</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_login_4.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Login Page 4</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_login_5.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Login Page 5</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_login_6.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Login Page 6</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_lock_1.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Lock Screen 1</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_user_lock_2.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Lock Screen 2</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-social-dribbble"></i>#}
                    {#<span class="title">General</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_about.html" class="nav-link ">#}
                            {#<span class="title">About</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_contact.html" class="nav-link ">#}
                            {#<span class="title">Contact</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_search.html" class="nav-link ">#}
                            {#<span class="title">Search</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_search_2.html" class="nav-link ">#}
                            {#<span class="title">Search 2</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_search_3.html" class="nav-link ">#}
                            {#<span class="title">Search 3</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_search_4.html" class="nav-link ">#}
                            {#<span class="title">Search 4</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_search_5.html" class="nav-link ">#}
                            {#<span class="title">Search 5</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_pricing.html" class="nav-link ">#}
                            {#<span class="title">Pricing</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_faq.html" class="nav-link ">#}
                            {#<span class="title">FAQ</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_blog.html" class="nav-link ">#}
                            {#<span class="title">Blog</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_blog_post.html" class="nav-link ">#}
                            {#<span class="title">Blog Post</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_invoice.html" class="nav-link ">#}
                            {#<span class="title">Invoice</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_general_invoice_2.html" class="nav-link ">#}
                            {#<span class="title">Invoice 2</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="javascript:;" class="nav-link nav-toggle">#}
                    {#<i class="icon-settings"></i>#}
                    {#<span class="title">System</span>#}
                    {#<span class="arrow"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a href="page_system_coming_soon.html" class="nav-link " target="_blank">#}
                            {#<span class="title">Coming Soon</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_system_404_1.html" class="nav-link ">#}
                            {#<span class="title">404 Page 1</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_system_404_2.html" class="nav-link " target="_blank">#}
                            {#<span class="title">404 Page 2</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_system_404_3.html" class="nav-link " target="_blank">#}
                            {#<span class="title">404 Page 3</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_system_500_1.html" class="nav-link ">#}
                            {#<span class="title">500 Page 1</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="page_system_500_2.html" class="nav-link " target="_blank">#}
                            {#<span class="title">500 Page 2</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
